.rowStyles {
  color: white;
  margin-left: 1.25rem;

  ul {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 1.25rem;
    &::-webkit-scrollbar {
      display: none;
    }

    li {
      @mixin useHover($scale: 1.08) {
        &:hover {
          transform: scale($scale);
          opacity: 1;
        }
      }
      @include useHover();
      transition: transform 450ms;
      max-height: 6.25rem;
      margin-right: 0.625rem;
      &.large {
        @include useHover(1.09);
        max-height: 15.625rem;
      }
    }
  }
}
